section#action-box.pad-25
    .container
        .action-box
            h3 Hey, are you ready to buy this awesome theme?
            p Pellentesque pulvinar, risus dictum tempor luctus, quam augue blandit sapien.
            a.btn.btn-flat.flat-color(href='#') Purchase Now
        //
           /.action-box
    //
       /.container
    //
       /#action-box