footer#footer-2.footer
    .container
        .row
            .col-xs-12.col-sm-6.footer-info-wrapper
                span
                    | ReTouch © 2013. All Rights Reserved.
                    a(href='http://getbootstrap.com/') Bootstrap v3.0.0
                    | Powered.
            //
               /.footer-info-wrapper
            .col-xs-12.col-sm-6.footer-links-wrapper
                ul.list-inline
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#') Terms Of Service
                    li
                        a(href='#') Disclaimer
            //
               /.footer-links-wrapper
        //
           /.row
    //
       /.container
    //
       /#footer-2