section#recent-works.pad-0
    .container
        .subpage-title
            h5 Recent Works
            //
               Controls
            .controls
                span#portfolio-prev.prev.black
                    i.fa.fa-angle-left
                span#portfolio-next.next.black
                    i.fa.fa-angle-right
        .row.flush
            #caroufredsel-portfolio-container
                .col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
                    .portfolio-item
                        .portfolio-thumb
                            img.img-responsive(src='assets/img/portfolio/photo (1).jpg', alt='1st Portfolio Thumb')
                            .image-overlay
                            a.portfolio-zoom(href='assets/img/portfolio/photo (1).jpg', rel='prettyPhoto[pp_gal]')
                                i.fa.fa-eye
                            a.portfolio-link(href='portfolio-item-1.html')
                                i.fa.fa-link
                        .portfolio-details
                            h5 1st Portfolio Item
                            p Nullam id dolor id nibh ultricies vehicula.
                //
                   /.portfolio-item-wrapper
                .col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
                    .portfolio-item
                        .portfolio-thumb
                            img.img-responsive(src='assets/img/portfolio/photo (12).jpg', alt='2nd Portfolio Thumb')
                            .image-overlay
                            a.portfolio-zoom(href='assets/img/portfolio/photo (12).jpg', rel='prettyPhoto[pp_gal]')
                                i.fa.fa-eye
                            a.portfolio-link(href='portfolio-item-1.html')
                                i.fa.fa-link
                        .portfolio-details
                            h5 2nd Portfolio Item
                            p Nullam id dolor id nibh ultricies vehicula.
                //
                   /.portfolio-item-wrapper
                .col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
                    .portfolio-item
                        .portfolio-thumb
                            img.img-responsive(src='assets/img/portfolio/photo (2).jpg', alt='3rd Portfolio Thumb')
                            .image-overlay
                            a.portfolio-zoom(href='assets/img/portfolio/photo (2).jpg', rel='prettyPhoto[pp_gal]')
                                i.fa.fa-eye
                            a.portfolio-link(href='portfolio-item-1.html')
                                i.fa.fa-link
                        .portfolio-details
                            h5 3rd Portfolio Item
                            p Nullam id dolor id nibh ultricies vehicula.
                //
                   /.portfolio-item-wrapper
                .col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
                    .portfolio-item
                        .portfolio-thumb
                            img.img-responsive(src='assets/img/portfolio/photo (4).jpg', alt='4th Portfolio Thumb')
                            .image-overlay
                            a.portfolio-zoom(href='assets/img/portfolio/photo (4).jpg', rel='prettyPhoto[pp_gal]')
                                i.fa.fa-eye
                            a.portfolio-link(href='portfolio-item-1.html')
                                i.fa.fa-link
                        .portfolio-details
                            h5 4th Portfolio Item
                            p Nullam id dolor id nibh ultricies vehicula.
                //
                   /.portfolio-item-wrapper
                .col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
                    .portfolio-item
                        .portfolio-thumb
                            img.img-responsive(src='assets/img/portfolio/photo (5).jpg', alt='5th Portfolio Thumb')
                            .image-overlay
                            a.portfolio-zoom(href='assets/img/portfolio/photo (5).jpg', rel='prettyPhoto[pp_gal]')
                                i.fa.fa-eye
                            a.portfolio-link(href='portfolio-item-1.html')
                                i.fa.fa-link
                        .portfolio-details
                            h5 5th Portfolio Item
                            p Nullam id dolor id nibh ultricies vehicula.
                //
                   /.portfolio-item-wrapper
            //
               /.caroufredsel-portfolio-container
        //
           /.row
    //
       /.container
    //
       /#recent-works