section#fullwidthbanner-container.fullwidthbanner-container(style="height: 330px")
    .fullwidthbanner
        ul
            //
               THE 1ST SLIDE
            li(data-transition='random', data-slotamount='10', data-masterspeed='500')
                img(src='assets/img/slides/Untitled-1.jpg', alt='Slide Image')

                .tp-caption.very_large_red_text.lft.ltt(data-x='105', data-y='100', data-speed='500', data-start='1200', data-easing='easeOutExpo', style='font-size: 50px;') <font color="white">#{t.slider.first}</font>



            //
               THE 2ND SLIDE
            li(data-transition='random', data-slotamount='10', data-masterspeed='500')
                img(src='assets/img/slides/Untitled-3.jpg', alt='Slide Image')

                //.tp-caption.very_large_white_text.lft.ltt(data-x='90', data-y='100', data-speed='500', data-start='1200', data-easing='easeOutExpo', style='font-size: 45px; color: #fff;') <font color="white">#{t.slider.second}</font>

            //
               THE 3RD SLIDE
            li(data-transition='random', data-slotamount='10', data-masterspeed='500')
                img(src='assets/img/slides/Untitled-2.jpg', alt='Slide Image')
        .tp-bannertimer.tp-bottom
    //
       /.fullwidthbanner
    //
       /#fullwidthbanner-container