//extends layout
block inner
        section#about-us.pad-25
            .container
                .subpage-title
                    h2(style='color: red ') #{t.title}
                    #about-text(style='color: black;font-size: 1.5em')
                        !{t.text}