//extends layout
block inner
    section#contacts.pad-25
        .container
            .subpage-title
                h2 <font color="red">#{t.title}</font>
                #contacts-text(style='font-size: 1.5em; color: black')
                    !{t.text}